<a href="https://colab.research.google.com/github/aavesh1/mlwithpythonpublic/blob/master/Latest_Sale_domains_filter_using_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Sale Domains Classifier

## Loading Dataset

In [9]:
import pandas as pd
#df = pd.read_table('SMSSpamCollection', sep='\t', header=None, names=['label', 'sms_message'])
df = pd.read_csv('Traindata.csv')
df.head()

                                             cleaned category
0  systemicperspectives co uk Systemic Perspectiv...    legit
1  stevenrogerswoodflooring co uk Wooden Floor In...    legit
2  the bushcraft show co uk Domain name registrat...    legit
3  sportschancer co uk Want your own website 123 ...     sale
4  taxiswatchet uk 01984 639 141 Watchet Taxi and...    legit

In [10]:
df['category'] = df.category.map({'legit' : 0, 'sale' : 1})
print(df.shape)
df.head()

(14621, 2)

                                             cleaned  category
0  systemicperspectives co uk Systemic Perspectiv...         0
1  stevenrogerswoodflooring co uk Wooden Floor In...         0
2  the bushcraft show co uk Domain name registrat...         0
3  sportschancer co uk Want your own website 123 ...         1
4  taxiswatchet uk 01984 639 141 Watchet Taxi and...         0

## **Data Preprocessing**

In [11]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['cleaned'], df['category'], random_state=1)

print('Number of rows in the total set: {}'.format(df.shape[0]))
print('Number of rows in the training set: {}'.format(X_train.shape[0]))
print('Number of rows in the test set: {}'.format(X_test.shape[0]))

Number of rows in the total set: 14621
Number of rows in the training set: 10965
Number of rows in the test set: 3656

### Applying Bag Of Words

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer()
print(count_vector)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [13]:
training_data = count_vector.fit_transform(X_train)
testing_data = count_vector.transform(X_test)

## Multinomial Naive Bayes Classifier

In [14]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [15]:
predictions = naive_bayes.predict(testing_data)

In [16]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print('Accuracy score: ', format(accuracy_score(y_test, predictions)))
print('Precision score: ', format(precision_score(y_test, predictions)))
print('Recall score: ', format(recall_score(y_test, predictions)))
print('F1 score: ', format(f1_score(y_test, predictions)))

Accuracy score:  0.962800875273523
Precision score:  0.9404077365394669
Recall score:  0.9879187259747392
F1 score:  0.9635779325120515

# Working on Output

In [19]:
dftest = pd.read_csv('testdata.csv')

In [20]:
dftest.head()

                                                test category
0  minipay co uk The domain name MiniPay co uk is...     sale
1  mobileworker co uk The domain name MobileWorke...     sale
2  middlepathwingchun co uk Want your own website...     sale
3  mobilepolicymanager co uk Want your own websit...     sale
4  movetru co uk Want your own website 123 Reg Ge...     sale

In [21]:
dftest['category'] = dftest.category.map({'legit' : 0, 'sale' : 1})
dftest.head()
dftest.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7231 entries, 0 to 7230
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   test      7231 non-null   object
 1   category  7231 non-null   int64
dtypes: int64(1), object(1)
memory usage: 113.1+ KB

In [22]:
finalpreddata = count_vector.transform(dftest['test'])

In [23]:
op = naive_bayes.predict(finalpreddata)

In [24]:
print(len(op))
oplist = list(op)

7231

In [25]:
checker = dftest['category']
print(len(checker))

7231

In [26]:

y_test = checker
predictions = op
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

print('Accuracy score: ', format(accuracy_score(y_test, predictions)))
print('Precision score: ', format(precision_score(y_test, predictions)))
print('Recall score: ', format(recall_score(y_test, predictions)))
print('F1 score: ', format(f1_score(y_test, predictions)))

Accuracy score:  0.988659936385009
Precision score:  0.9953724436483057
Recall score:  0.9924095847596368
F1 score:  0.9938888060813832